$purple-dark: #3D0D2C;
$red: #AA273A;
$red-orange: #E25931;
$orange: #FBA516;
$yellow: #FDDE49;
$blue: #4E71D4;
$green: #5ECD5F;

$clr-gray: #777777;


$clr-light: #f0fcff;
$clr-dark: #212c33;

$clr-page-bg: $clr-dark;
$clr-txt: $clr-light;
