
.Sidebar {
    background: darken($clr-page-bg, 3%);
    border-right: 1px solid lighten($clr-page-bg, 7%);
    box-shadow: 0 0 0.25em $clr-black;
    margin-right: 1.0em;

    nav {
        margin: 1.0em 0;
        padding: 0.5em 0;

        a {
            border-right: 3px solid transparent;
            color: darken($clr-light, 3%);
            display: block;
            margin-bottom: 1px;
            padding: 0.5em 1.0em;
            text-align: right;
            text-decoration: none;
            text-shadow: 0 0 0.25em $clr-page-bg;
            transition: all 0.45s ease-out;

            &:hover {
                background: transparentize($clr-light, 0.92);
                border-right: 3px solid $clr-highlight;
                color: $clr-light;
                text-shadow: 0 0 0.25em $clr-black;
            }
        }
    }
}
